@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
}

.createCard {
  border: 1px solid #ccc;
}

.activeLinkClass {
  background-color: white !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.p-tabview .p-tabview-panels {
  margin: 0 !important;
  padding: 0 !important;
}

.p-fieldset .p-fieldset-content {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .logo {
   height: 50px;
  }
}
