@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
}

.createCard {
  border: 1px solid #ccc;
}

.activeLinkClass {
  background-color: white !important;
}

@media screen and (max-width: 600px) {
  .logo {
   height: 40px;
  }
}
